.home-page {
    width: 100%;
    min-height: 100vh;
    background: #f4f7fc;
    position: relative;
    display: flex;
}

.background-bar {
    width: 100%;
    height: 264px;
    background: #153d77;
    position: absolute;
}
.sidebar-control {
    transform: translateX(0);
    transition: transform 0.3s ease;
}

.sidebar-control.hidden {
    transform: translateX(-250px);
}

.main-page {
    flex-grow: 1; /* 占据剩余空间 */
    display: flex;
    flex-direction: column;
    z-index: 1;
    margin-left: 0;
    transition: margin-left 0.36s ease;
}

.main-page.hidden {
    margin-left: -250px;
}
